* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


/*_____________________________MAIN________________________________*/

p {
  margin: 0px;
}


#home img {
  width: 100%;
}

section article {
  width: 40%;
  padding-top: 10vh;
  text-align: center;
  margin: 5% auto 5% auto;
  font-size: 2em;
  font-family: 'Commissioner', sans-serif;
}

span {
  font-weight: 700;
}